.card-detail-container{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border-radius: 5px;
    border: 2px solid #222;
}
.card-detail{
    display: inline-block;
    width: 50%;
    font-size: 15px;
    margin: auto;
    text-align: center;
}
.card-img-detail{
    width: 60%;
}
.card-detail-compra{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.card-price, .card-title-detail{
    margin: 15px;
    font-size: 2em;
    font-weight: bold;
}
.info{
    text-align: center;
    display: block;
    font-size: 1.5em;
}
.boton-detail {
    width: 40%;
    height: 2.5em;
    background-color: #222;
    color: #fff;
    border: none;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: .75em;
}
.boton-detail:hover {
    transform: scale(105%);
    font-weight: bold;
    transition: .2s;
}