/* --- HOME --- */
.hero{
    background-image: url(../assets/bgCards/JERSEYFI.png);
    background-size: cover;
    width: 90%;
    height: 80vh;
    border-radius: 5px;
    margin: 5em auto;
}
/* --- FOOTER --- */ 
footer{
    width: 100%;
    background-image: url(../assets/bgCards/qatar.jpg);
    background-size: 20%;
}
.explorar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.explorar-title{
    font-weight: bold;
    color: #eee;
    text-align: center;
}
.ul-footer{
    margin: auto;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.copyright{
    text-align: center;
    color: #eee;
}