/* --- ITEM COUNT --- */
.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.boton-carrito{
    width: 40%;
    height: 2.5em;
    background-color: #222;
    color: #fff;
    border: none;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}
.boton-carrito:hover {
    transform: scale(105%);
    font-weight: bold;
    transition: .2s;
}
.boton-count{
    display: inline-block;
    font-size: 1em;
    width: 3em;
    height: 2em;
    border: none;
    border: 5px;
    color: #222;
    background-color: #cccc;
    cursor: pointer;
}
.sumar:hover{
    background-color: rgb(127, 218, 37);
    font-weight: bold;
    transition: .2s;
}
.restar:hover{
    background-color: rgb(211, 26, 63);
    font-weight: bold;
    transition: .2s;
}
.restar:active, .sumar:active{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20), 
    3px 3px 25px  rgba(0, 0, 0, 0.20);
    transform: translate(0em, 0.1em);
}